/* PRETTY - Table of Contents C’n’P - Short (for me lol) */

/* 
==================================================================================================================================================================
Hey all! Bridgette Sanderson here 🥸🤓😬
Feel free to use this as you would like, take
or add to as you see fit :D 

I made this for myself at the suggestion from a Kevin Powell (LOVE him!) tutorial
from Scrimba.com and made a lot of adaptions, tweaks, and changes to my personal 
preference PLEASE feel free to do the same!!
I'm going to upload some shorter ones and some other versions as 
time goes on but for now due to my ever tightening time constraints this will have
to suffice for the time being!! 

PS- If you link to give me credit or shout outs that would be infinitely appreciated
but is totally not necessary! I'm still very new to the <DEV Community> 
and am in need of a job yesterday...or a month ago if you catch my drift. 
So any kudos is always appreciated AND most importantly ALWAYS reciprocated!!! 

Happy Coding and love to all my fellow DEVS!!! :D
💗Bridgette Sanderson
                                                                    🥸 🤓 😬
==================================================================================================================================================================
*/



/*
==================================================================================
                                Table Of Contents:
================================================================================== 
*/

/*
    1. Element Selectors
    2. Typography
            i. Utility Typography Classes
           ii. Specific Typography Classes
    3. Layout
            i. Utility Layout Classes
    4. Buttons
            i. Standard Buttons
           ii. JavaScript Buttons
    5. Navbar
            i. Mobile / Hamburger
           ii. Desktop
          iii. Other Navbar Types
    6. Media
            i. Images
           ii. Videos
          iii. Other [Embeds, etc.]
    7. Colors
            i. Light
           ii. Medium
          iii. Dark
         iiii. Translucent

================================================================================== 
8. Section Dividers Copy’n’Paste at file /end
================================================================================== 
*/ 



/* 
=======================
1. Element Selectors
=======================
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p
 {
    margin-top: 0;
}

img {
    max-width: 100%;
    display: block;
}






/* 
=================
2. Typography 
================= 
*/

/* ------------ Utility Typography Classes -------------- */
/* ------------ Specific Typography Classes ------------- */





/* 
=================
3. Layout
================= 
*/

/* ----------- Utility Layout Classes--------------- */
/* ----------- Specific Layout Classes -----------  */



/* 
=================
4. Buttons
================= 
*/

/* ----------- Utility Button Classes --------------- */
/* ----------- Specific Button Classes -----------  */


/* 
=================
5. Navbar
================= 
*/

/* ----------- Mobile View Menu --------------- */
/* ----------- Desktop View Menu --------------- */
/* ----------- OTHER Navbar Types ------------ */
/* ---- Social Media Menu ---- */
/* ----  ---- */
/* ----  ---- */



/* 
===================
6. Media
=================== 
*/

/* ----------- Images --------------- */
/* ----------- Videos -----------  */
/* ----------- Other [Embeds etc] -----------  */





/* 
=================
7. Colors
================= 
*/


/* ----------- Accents -----------  */
/* ----------- Translucent -----------  */
/* ----------- Light --------------- */
/* ----------- Medium -----------  */
/* ----------- Dark -----------  */








/* 
================================== 
8. Section Dividers Copy’n’Paste
      (Or Click’n’Drag :)
================================== 
*/

/* ------------ preSub-Dividers / Note / Type ------------ */

/* --  -- */
/* --  -- */
/* --  -- */
/* --  -- */
/* --  -- */
/* --  -- */



/* ------------ Sub-Dividers / Specific Type / Media Queries ------------ */

/* ----  ---- */
/* ----  ---- */
/* ----  ---- */
/* ----  ---- */
/* ----  ---- */
/* ----  ---- */




/* ------------ General Section Dividers / Table of Contents Sub-Category ------------ */

/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */





/* ------------ Block / Full / New Section Dividers ------------ */

/* 
=================
================= 
*/

/* 
=================
================= 
*/

/* 
=================
================= 
*/

/* 
=================
================= 
*/




/* ------------ BIG Block Dividers ------------ */

/* -- Medium -- */

/* 
=====================================
=====================================
*/

/* 
=====================================
=====================================
*/

/* 
=====================================
=====================================
*/

/* 
=====================================
=====================================
*/



/* -- Large -- */

/* 
==================================================================================
==================================================================================
*/

/* 
==================================================================================
==================================================================================
*/

/* 
==================================================================================
==================================================================================
*/





