/*
==================================================================================
                                Table Of Contents:
================================================================================== 
*/

/*
    1. Element Selectors
    2. Typography
            i. Utility Typography Classes
           ii. Specific Typography Classes
    3. Layout
            i.  Utility Layout Classes
    4. Buttons
            i. Standard Buttons
           ii. JavaScript Buttons
    6.  Navbar
            i. Mobile / Hamburger
           ii. Desktop
          iii. Other Navbar Types



================================================================================== 
Section Dividers Copy’n’Paste at file /end
================================================================================== 
*/ 



/* 
=======================
   Element Selectors
=======================
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

h1,
h2,
h3,
p
 {
    margin-top: 0;
}

img {
    max-width: 100%;
    display: block;
}






/* 
=================
Typography 
================= 
*/

/* ------------ Utility Typography Classes -------------- */
/* ------------ Specific Typography Classes ------------- */





/* 
=================
Layout
================= 
*/

/* ----------- Utility Layout Classes--------------- */
/* ----------- Specific Layout Classes -----------  */



/* 
=================
Buttons
================= 
*/

/* ----------- Utility Button Classes --------------- */
/* ----------- Specific Button Classes -----------  */


/* 
=================
Navbar
================= 
*/

/* ----------- Mobile View Menu --------------- */
/* ----------- Desktop View Menu --------------- */
/* ----------- OTHER Navbar Types ------------ */
/* ---- Social Media Menu ---- */
/* ----  ---- */
/* ----  ---- */












/* 
=======================
Section Dividers Copy’n’Paste
(Or Click’n’Drag :)
======================= 
*/

/* ------------ preSub-Dividers / Note / Type ------------ */

/* --  -- */
/* --  -- */
/* --  -- */
/* --  -- */
/* --  -- */
/* --  -- */



/* ------------ Sub-Dividers / Specific Type / Media Queries ------------ */

/* ----  ---- */
/* ----  ---- */
/* ----  ---- */
/* ----  ---- */
/* ----  ---- */
/* ----  ---- */




/* ------------ General Section Dividers / Table of Contents Sub-Category ------------ */

/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */
/* ------------  ------------ */





/* ------------ Block / Full / New Section Dividers ------------ */

/* 
=================
================= 
*/

/* 
=================
================= 
*/

/* 
=================
================= 
*/

/* 
=================
================= 
*/




/* ------------ BIG Block Dividers ------------ */

/* -- Medium -- */

/* 
=====================================
=====================================
*/

/* 
=====================================
=====================================
*/

/* 
=====================================
=====================================
*/

/* 
=====================================
=====================================
*/



/* -- Large -- */

/* 
==================================================================================
==================================================================================
*/

/* 
==================================================================================
==================================================================================
*/

/* 
==================================================================================
==================================================================================
*/
